html {
  font-size: 100%;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 25vw;
  max-width: 480px;
  min-width: 320px;
  height: 50vh;
  max-height: 480px;
  min-height: 350px;

  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 15px;
  animation: divLogin 1.2s;
  overflow: hidden;
}

#login input.login {
  width: 250px;
  height: 50px;
  margin-bottom: 25px;
  border-radius: 8px;
  border: 0;

  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1rem;
}

#login input.login {
  animation: inputLogin 0.3s;
}

#login input.login + input.login {
  animation: inputLogin 0.5s;
}

#login input.login:valid {
  border: 2px solid #FF354E;
}

#login input.submit {
  margin-top: 2vh;
  margin-bottom: 3vh;
  width: 180px;
  height: 43px;
  border: 0px;
  border-radius: 6px;

  background-color: #FF354E;
  color: #FFFFFF;

  font-variant-caps: small-caps;
  font-size: 1rem;

  cursor: pointer;
  transition: filter 0.2s;
}

#login input.submit:hover {
  filter: brightness(0.9);
}

#login a {
  text-decoration: none;
  color: #222222;
  margin-top: 7px;
}

#login a.cadastro {
  font-size: 1.2rem;
  font-weight: 600;
}

@keyframes inputLogin {
  from {
    transform: translateX(+400px);
  } to {
    transform: translateX(0px)
  }
}
