@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(./assets/images/pizza-background-1170x780.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  font-size: 1.2rem;
}

.container {
  display: grid;
  grid-template-rows: 10vh 90vh;
}

.container main {
  display: flex;
  justify-content: center;
  align-items: center;
}
